{#  #}
{% extends 'layout.html.twig' %}
{% block title %}
	{{ parent() }}
	- Cordes
{% endblock %}

	{% block content %}
<ul>
	<h2>Les instruments de musique</h2>

		{% for key, value in products %}
		<li>
			{{key}} => {{ value|e }}
		</li>
		{% endfor %}

	
</ul>
	{% endblock %}