{#  #}
{% extends 'layout.html.twig' %}
{% block title %}
	{{ parent() }}
	- Musique
{% endblock %}

	{% block content %}
<ul>
	<h2>Les instruments de musique</h2>

		{% for product in products %}
		<li>
			{{product}}
		</li>
		{% endfor %}

	
</ul>
	{% endblock %}